body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: small;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: black;
    font-family: 'Pacifico', cursive;
}

.div1 {
    background-color: hsl(180, 10%, 50%);
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#HTMLid_InputNumber {
    border-radius: 25px;
    width: 120px;
    height: 64px;
    text-align: center;
    border-style: none;
    font-size: 1.5rem;
    color: hsl(180, 10%, 30%);
    background-color: hsl(33, 64%, 84%);

}

#HTMLidBoutton {
    border-radius: 25px;
    width: 120px;
    height: 50px;
    border-style: none;
    font-size: 1.5rem;
    background-color: hsl(180, 21%, 75%);
    color: black;
}

h1 {
    color: hsl(180, 21%, 21%);
    font-size: 3rem;
}

#HTMLid_Texte_IlVousReste{
    font-size: 2rem;
    color: hsl(293, 80%, 85%);
}

#HTMLid_Texte_YouWinOrLoose {
    font-size: 3rem;
    color: hsl(30, 50%, 75%);
}

.slider {
    -webkit-appearance: none;
    width: 300px;
    height: 50px;
    border-radius: 25px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }

  #valueText {
    font-size: 2rem;
    color: hsl(180, 21%, 75%);
  }